.date {
    display: flex;

    margin-top: 10px;
    margin-bottom: 5px;
    }

.info {
    border-left: 3.5px solid #0cc;
    padding-left: 10px;
    padding-top: 7px;
    margin-top: 2px;
    text-align: center;
    border-radius: 2px;
}

.ag-theme-quartz-dark {
    --ag-background-color: #00028;
    --ag--header-background-color: #00028;
    --ag-header-background-color: #00012c;
    --ag-active-color: #9d9d9659;
}
