<div class="date">
  <ix-select class="select" [value]="FilterDays">
    <div class="options">
    <ix-select-item
      *ngFor="let day of FilterDaysArray"
      label="{{ day / 30 }} Month"
      value="{{day}}"
      day
      (click)="adaptFilter(day)"
    >
    </ix-select-item>
  </div>
  </ix-select>

</div>
<ag-grid-angular
  *ngIf="isBrowser && isDataReady"
  style="height: 500px"
  class="ag-theme-quartz-dark"
  [rowData]="rowData"
  [columnDefs]="colDefs"
  [defaultColDef]="defaultColDef"
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)"
  [overlayNoRowsTemplate]="loadingTemplate"
  (rowClicked)="selectCustomer($event)"
>
  ></ag-grid-angular
>
