.date {
    display: flex;
    gap: 2.5%;
    }

.info {
    border-left: 3.5px solid #0cc;
    padding-left: 10px;
    padding-top: 7px;
    margin-top: 2px;
    text-align: center;
    border-radius: 2px;
}