#container {
  padding: 100px;
  display: flex;
  justify-content: space-between;
}

#table1,
#table2 {
  background-color: #9d9d9633;
  width: 49%;
  height: 650px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  padding-top: 10px;
  border-radius: 20px;
}

#table1 {
  position: static;
}



#title {
  font-weight: 500;
  font-style: normal;
  text-align: center;
  align-content: center;
  border-bottom: 5px solid #9d9d9633;
  margin-bottom: 10px;
  height: 15%;
}

#header1, #header2 {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 0px;
}

#header1 {
  animation: slideFromLeft 1s, showIn 1s;
}


#header2 {
  animation: slideFromRight 1s, showIn 1s;
}


