<div class="row" id="container">
  <div class="col-md-3">
    <div class="button-container">
      
      <app-addcustomer></app-addcustomer>
      <app-updatecustomer></app-updatecustomer>
      <app-basicbutton [label]="labelRemove" [icon]="iconRemove" (click)="deleteSelectedCustomer()"></app-basicbutton>
      
    </div>
    <app-customerlist></app-customerlist>
  </div>
  <div class="col-md-1" id="line"></div>
  <div class="col-md-8" id="table"><app-customerinfo></app-customerinfo></div>
  
</div>
