<div class="row" id="container">
  <div class="col-md-4" id="table">
    <div class="button-container">
      <app-addcustomer></app-addcustomer>
      <app-updatecustomer></app-updatecustomer>
      <app-deletecustomer></app-deletecustomer>
    </div>
    <app-customerlist ></app-customerlist>
  </div>
  <!-- <div class="col-md-1" id="line"></div> -->
  <div class="col-md-8" id="table"><app-customerinfo></app-customerinfo>
  
<div class="button-container">
<app-addorder></app-addorder>
<app-updateorder></app-updateorder>
<app-deleteorder></app-deleteorder>
</div></div>
  
</div>
