#container {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    }
    
#table {
    background-color: darkblue;
}

#line {
    background-color: blue;
    height: 50vh;
    width: 1px;
}
    
