#container {
    margin: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #9d9d9633;
    }
    


.button-container {
    display: flex;
    gap: 25px;
    justify-content: left;
    margin: 10px;
    margin-bottom: 5px;
}