#container {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    }
    
#table {
    background-color: #9d9d9633;
}

#line {
    background-color: #0cc;
    height: inherit;
    width: 1px;
}

.button-container {
    display: flex;
    gap: 5px;
    justify-content: center;
}
    
