<ng-container *ngIf="isReady">
  <div class="info-container">
    <ix-select class="select" [value]="selectedStatus">
      <div class="options">
      <ix-select-item
        *ngFor="let enum of orderStatus | keyvalue"
        label="{{ enum.value }}"
        value="{{ enum.value }}"
        (click)="onStatusChange(enum.value)"
      >
      </ix-select-item>
      <ix-select-item label="All" value="All" (click)="onStatusChange('All')">
      </ix-select-item>
    </div>
    </ix-select>
  </div>
  <div id="chartContainer" class="chart-container">
    <ag-charts class="myChart" [options]="chartOptions"></ag-charts>
  </div>
</ng-container>

