.info-container {
    gap: 10px;
    width: 80%;
}

.avatar-container {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

#container {
    display: flex;
    animation: showIn 0.5s;
}
#label {
    display: flex;
    gap: 5px;
    align-items: center;
}

.avatar {
    width: inherit;
    height: inherit;
    
    
}

