<div>
  <div class="row">
    <div>
      <ix-application theme="">
        <ix-application-header name="Customer Managment System" themeSystemApperance="true">
          <div slot="logo" id="logo">
            <a href="https://www.siemens.com"><img src="assets/siemensW.png" class="siemens"></a>
          </div>
        </ix-application-header>
        <ix-menu class="sidebar">
          <ix-menu-item tab-icon="home" routerLink="">Main Page</ix-menu-item>
          <ix-menu-item tab-icon="search" routerLink="customersearch">Customer</ix-menu-item>
        </ix-menu>
      
        <ix-content>
         <router-outlet></router-outlet>
        </ix-content>
      </ix-application>
  </div>

</div>