<div>
  <div class="row">
    <div>
      <ng-container *ngIf="isRefreshing">
        <div class="spinner-container">
          <ix-spinner size="large" class="spinner"></ix-spinner>
          <h3 class="text">Waiting for data...</h3>
        </div>
      </ng-container>
      <ix-application class="app-bar" theme="">
        <ix-application-header
          name="Customer Managment System"
          themeSystemApperance="true"
        >
          <div slot="logo" id="logo">
            <a href="https://www.siemens.com"
              ><img src="assets/siemensW.png" class="siemens"
            /></a>
          </div>
        </ix-application-header>

        <ix-menu class="sidebar" *ngIf="isDisabled">
          <ix-menu-item tab-icon="home" (click)="routeTo('home')"
            ><a> Main Page</a> </ix-menu-item
          >
          <ix-menu-item tab-icon="search" (click)="routeTo('customersearch')"
            >Customers & Orders</ix-menu-item
          >
          <ix-menu-item tab-icon="log-out" (click)="routeTo('logout')"
            >Logout</ix-menu-item
          >
        </ix-menu>

        <ix-content>

          <router-outlet></router-outlet>
        </ix-content>
      </ix-application>

      <app-messagebar class="message"></app-messagebar>
    </div>
  </div>
</div>
