ix-application-header {
    font-size: 30px;
    position: fixed;
}

.header {
    font-size: 50px;
}

.sidebar {
    top: 40px;
    position: fixed;
    height: 100%;
    display: flex;
    transition: 2s all;
}



.siemens {
    width: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#logo {
    width: 200px;
    position: relative;
    
}

