ix-application-header {
    font-size: 30px;
    position: fixed;
}

.header {
    font-size: 50px;
}

// .side {
//     background-color: red;
//     position: absolute;
//     height: 100vh;
    
//     top: 0;
//     left: 0;
//     z-index: 1; // Ensure it is behind the .sidebar
//   }

.sidebar {
    top: 40px;
    position: fixed;
    height: 100vh;
}

.siemens {
    width: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#logo {
    width: 200px;
    position: relative;
    
}

