.edit-box {
    background-color: #000028;
    width: 300px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #0cc;
    border-radius: 28px;
  }
  

.button-container {
    gap: 10px;
}

ix-button {
    margin-right: 10px;
}

input {
    background-color: white;
    padding-left: 20px;
    color: #000028;
}
