<!-- <ag-grid-angular *ngIf="isBrowser && isDataReady"
  style="height: 120%; width: inherit;"
  class="ag-theme-quartz-dark"
  [rowData]="rowData"
  [columnDefs]="colDefs"
  [defaultColDef]="defaultColDef"
  (rowClicked)="selectCustomer($event)"
></ag-grid-angular> -->
<ng-container *ngIf="isRefreshed">
<ix-event-list class="infobox6" *ngFor="let order of rowData" id="orders">
  <div (click)="selectOrder(order)">
    <ix-blind label={{order.name}} class="child" collapsed="true" >
      <p>Description: {{order.description}}</p>
      <p>Address: {{order.address}}</p>
      <p>Status: {{order.status}} </p>
    </ix-blind>
  </div>
  </ix-event-list>
</ng-container>
<div class="button-container">
<app-addorder></app-addorder>
<app-updateorder></app-updateorder>
<app-deleteorder></app-deleteorder>
</div>