.edit-box {
    background-color: #000028;
    width: 300px;
    text-align: center;
}



.button-container {
    gap: 25px;
    justify-content: left;
}

ix-button {
    margin-right: 10px;
}


input {
    background-color: white;
    padding-left: 20px;
}