<div class="edit-box">
  <h3 class="header" mat-dialog-title>{{ data.title }}</h3>
  <div mat-dialog-content id="dialog">
    <p>{{ data.description }}</p>
    <form [formGroup]="form">
      <mat-form-field>
        <input placeholder="Edit Name" matInput formControlName="input1" />
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Edit Description" matInput formControlName="input2" />
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Edit Address" matInput formControlName="input3"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select a status</mat-label>
        <select matNativeControl required formControlName="input4" >
          <option *ngFor="let enum of orderStatus | keyvalue" [value]="enum.value"> {{enum.value}} </option>
        </select>
        <!-- <input placeholder="Edit Status" matInput formControlName="input4"  /> -->
      </mat-form-field>
    </form>
  </div>
  <div class="button-container" mat-dialog-actions>
    <ix-button mat-button (click)="onCancel()">Cancel</ix-button>
    <ix-button mat-button (click)="onSubmit()">Submit</ix-button>
  </div>
</div>
<datalist id="mylist">
  <option value="Option 1">
  <option value="Option 2">
  <option value="Option 3">
</datalist>