.contant-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
 
}

.return {
    position: fixed;
    top: 95%;
    left: 2%;
    width: 10%;
}